sites/*/*settings*.php
files/
sites/*/files
sites/default/settings.php
sites/*/private
sites/default/*
sites/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
modules/contrib/adv_varnish/varnish/default.vcl
deploy/
*.sql
*.psd
*.tar
*.gz
*.zip
*.tgz
.ds_store
*.DS_Store
*node_modules
/node_modules
*.idea
/idea
*-lock.json
