<div class="content-right content-moments" data-id="megamenu-moments">
	<div class="btn-nav">
		<div class="btn-back">
			<i class="demo-icon icon-icon-arrow-left">&#xe80a;</i>
		</div>
		<div class="btn-close">
			<i class="demo-icon icon-icon-close1">&#xe81c;</i>
		</div>
	</div>
	<div class="info">
		<span class="title"></span>
		<span class="subtitle">¿Qué quieres cocinar?</span>
	</div>
	<div class="list-articles recipes">
	</div>
	<div class="button">
		<a href="#" class="btn-default back-green" data-seo="btn-header">
      Ver más
		</a>
	</div>
</div>
<div class="content-right content-tips" data-id="megamenu-tips">
	<div class="btn-nav">
		<div class="btn-back">
			<i class="demo-icon icon-icon-arrow-left">&#xe80a;</i>
		</div>
		<div class="btn-close">
			<i class="demo-icon icon-icon-close1">&#xe81c;</i>
		</div>
	</div>
	<div class="info">
		<!--<span class="title"></span>-->
    	<span class="title-tips">Tips de cocina</span>
		<span class="subtitle">Lo más visto</span>
	</div>
	<div class="list-articles tips">
	</div>
	<div class="button">
		<a href="{{get_config_data('config.settings','tips_cocina')}}" class="btn-default back-green" data-seo="btn-header">
			Ir a la sección
		</a>
	</div>
</div>
