 <div class="content-right content-sustainability" data-id="megamenu-sustainability">
  <div class="btn-nav">
    <div class="btn-back">
      <i class="demo-icon icon-icon-arrow-left">&#xe80a;</i>
    </div>
    <div class="btn-close">
      <i class="demo-icon icon-icon-close1">&#xe81c;</i>
    </div>
  </div>
  <div class="info">
    <span class="title">Sostenibilidad</span>
  </div>
  <div class="list-articles sustainability">
  </div>
  <div class="button">
    <a href="#" class="btn-default back-green" data-seo="btn-header">
      Ir a la sección
    </a>
  </div>
</div>
