/*article-default*/
article.article-default{
    margin: 5px 5px 15px 5px;
    box-shadow: 0 0 10px 0 $shadow;
    background-color: $white;
    .img-card{
        position: relative;
    }
    .content-card{
        position: relative;
        padding: 55px 20px 15px 20px;
        @media (max-width: $desktop_1640){
            padding: 45px 20px 15px 20px;
        }
        .info-person{
            top: -40px;
            position: absolute;

            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .img{
                z-index: 3;
                width: 90px;
                height: auto;
                overflow: hidden;
                transition: all 1s;
                border-radius: 50%;
                border: 3px solid $white;
                box-shadow: 0 0 10px 0 $shadow;
                @media (max-width: $desktop_1640){
                    width: 80px;
                    height: auto;
                }
            }
            .text{
                width: 70%;
                padding-left: 7px;
                .author{
                    color: $red1;
                    font-weight: 400;
                    font-style: normal;
                    font-family: $Poppins;
                    @media (max-width: $desktop_1024){
                        font-size: 1rem;
                    }
                }
            }
        }
        .content-star{
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            .star{
                &:before{
                    font-size: 1.45rem;
                    @media (max-width: $desktop_1640){
                        font-size: 1.15rem;
                    }
                }
            }
        }
        .text{
            padding-top: 10px;
            h3.click-modal-tips{
                cursor: pointer;
            }
            p{
                padding: 10px 0;
            }
        }
        .bottom{
            margin-top: 15px;
            padding-top: 10px;
            border-top: 1px solid $gray6;
            ul.steps{
                padding: 0;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &.center, &[align="center"]{
                    justify-content: space-around !important;
                }
                li{
                    @media (max-width: 320px){
                        width: 30%;
                        text-align: center;
                    }
                    span{
                        font-size: 1rem;
                        @media (max-width: $desktop_1640){
                            font-size: .95rem;
                        }
                        .icon-icon-recipe-food{
                            color: $red1;
                            font-size: 1.2rem;
                            padding-right: 3px;
                            @media (max-width: $desktop_1640){
                                font-size: .9rem;
                            }
                        }
                        .icon-icon-recipe-time{
                            color: $red1;
                            font-size: 1.7rem;
                            padding-right: 3px;
                            @media (max-width: $desktop_1640){
                                font-size: 1.3rem;
                            }
                        }
                        .icon-icon-recipe-chef{
                            color: $red1;
                            font-size: 1.7rem;
                            padding-right: 3px;
                            @media (max-width: $desktop_1640){
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*article-sustainability*/
article.article-sustainability{
    box-shadow: 0 0 10px 0 $shadow;
    background-color: $white;
    .info{
        padding: 15px 20px;
        position: relative;
        border-top: 4px solid $green1;
        @media (max-width: $desktop_1640){
            padding: 15px 20px;
        }
        .icon{
            top: -25px;
            left: 25px;
            width: 90px;
            height: auto;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            box-shadow: 0 0 10px 0 $shadow;
            @media (max-width: $desktop_1640){
                left: 20px;
                width: 70px;
            }
        }
        .text{
            background-color: $white;
            h3{
                color: $red1;
                padding-left: 110px;
                @media (max-width: $desktop_1640){
                    padding-left: 80px;
                }
            }
            p{
                padding: 20px 0 15px 0;
                @media (max-width: $desktop_1640){
                    padding: 15px 0 10px 0;
                }
            }
            .btn-link{
                color: $green1;
            }
        }
    }
}
