/*contact-form*/
.contact-form{
	margin-top: 0;
	padding-bottom: 30px;
	.content{
		.c-contact-form{
			form{
				width: 90%;
				margin: 0 auto;
				@media (max-width: $desktop_1024){
					width: 100%;
				}
			}
		}
	}
}
