/*error-404*/
.error-404{
	background-image: url("/themes/custom/alqueria/assets/img/background/error404-desktop.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	@media (max-width: $mobile){
		background-image: url("/themes/custom/alqueria/assets/img/background/error404-mobile.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: contain;
	}
	.containerGridp{
		padding-top: 0;
		.content{
			.c-error-404{
				text-align: center;
				padding: 12% 0 120px 0;
				@media (max-width: $desktop_1366){
					padding: 10% 0 120px 0;
				}
				@media (max-width: $mobile){
					padding: 80px 7% 40px 7%;
				}
				.layers{
					width: 50%;
					margin: 0 auto;
					position: relative;
					@media (max-width: $desktop_1024){
						width: 60%;
					}
					@media (max-width: $tablet){
						width: 80%;
					}
					@media (max-width: $mobile){
						width: 100%;
					}
					.layer-left{
						z-index: 1;
						top: 0;
						left: 3%;
						width: 25%;
						height: auto;
						position: absolute;
						@media (max-width: $mobile){
							top: 15px;
							left: -5%;
						}
						picture{
							img{
								position: relative;
							}
						}
					}
					.layer-right{
						z-index: 1;
						right: 0;
						bottom: 0;
						width: 25%;
						height: auto;
						position: absolute;
						@media (max-width: $mobile){
							right: -5%;
							bottom: 15px;
						}
						picture{
							img{
								position: relative;
							}
						}
					}
					.layer-middle{
						z-index: 2;
						position: relative;
						text-align: center;
						h1{
							color: $red1;
							font-size: 23rem;
							font-weight: 700;
							font-style: normal;
							line-height: normal;
							font-family: $Poppins;
							@media (max-width: $desktop_1640){
						        font-size: 19rem;
						    }
						    @media (max-width: $desktop_1440){
						    	font-size: 18rem;
						    }
						    @media (max-width: $desktop_1366){
						    	font-size: 17rem;
						    }
						    @media (max-width: $desktop_1280){
						    	font-size: 16rem;
						    }
						    @media (max-width: $desktop_1024){
								font-size: 15rem;
							}
							@media (max-width: $tablet){
								font-size: 14rem;
							}
						    @media (max-width: $mobile){
						    	font-size: 10rem;
						    }
						}
					}
				}
				.text{
					@media (max-width: $mobile){
						padding-top: 15px;
					}
					span{
						font-size: 3rem;
						font-weight: 700;
						font-style: normal;
						line-height: normal;
						font-family: $Poppins;
						@media (max-width: $desktop_1640){
					        font-size: 2.7rem;
					    }
					    @media (max-width: $mobile){
					    	font-size: 2.3rem;
					    }
					}
					p{
						padding: 25px 0;

						font-size: 1.75rem;
						font-weight: 300;
						font-style: normal;
						line-height: 35px;
						font-family: $Poppins;
						@media (max-width: $desktop_1640){
					        font-size: 1.45rem;
					        line-height: 29px;
					    }
					    br{
					    	@media (max-width: $mobile){
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
	
