/*full-img-video*/
.full-img-video{
	.content{
		margin: 0 7%;
		@media (max-width: $desktop_1024){
			margin: 0;
		}
		.c-full-img-video{
			width: 90%;
			margin: 0 auto;
			@media (max-width: $mobile){
				width: 100%;
			}
		}
	}
}
