/*Icons*/
@font-face{
  font-family: "fontelloIcons";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/icons/fontello.eot?95615507");
  src: url("../fonts/icons/fontello.eot?95615507#iefix") format("embedded-opentype"),
    url("../fonts/icons/fontello.woff?95615507") format("woff"),
    url("../fonts/icons/fontello.ttf?95615507") format("truetype"),
    url("../fonts/icons/fontello.svg?95615507#fontello") format("svg");
}
