/*knowus-form*/
.knowus-form{
	.containerGrid{
		@media (max-width: $desktop_1024){
			padding: 0;
		}
	}
	.content{
		.c-knowus-form{
			.info{
				width: 85%;
				z-index: 3;
				margin: 0 auto;
				padding: 35px 5%;
				margin-top: -50px;
				position: relative;
				transition: all .5s;
				background-color: $blue1;
				box-shadow: 0px 0 10px 0px $shadow;
				@media (max-width: $tablet){
					margin-top: -25px;
				}
				.text{
					text-align: center;
					padding-bottom: 25px;
					border-bottom: 1px solid $gray4;
					h1{
						font-size: 2.5rem;
						padding-bottom: 25px;
						@media (max-width: $desktop_1640){
					        font-size: 2rem;
					    }
					    @media (max-width: $mobile){
					        font-size: 1.7rem;
					    }
					}
				}
				.form{
					padding-top: 30px;
					form{
						padding-top: 30px;
						#edit-actua-usted-en-representacion-de-otra-persona-natural-o-juridic{
							margin-top: 25px;
						}
					}
				}
			}
		}
	}
}
