/*slider-milks*/
.slider-milks{
	.content{
		.c-header{
			h2{
				font-size: 2.3rem;
				color: $gray1;
				@media (max-width: $desktop_1640){
					font-size: 2rem;
				}
			}
		}
		.c-slider-milks{
			padding-top: 140px;
			@media (max-width: $desktop_1640){
				padding-top: 120px;
			}
			.s-slider-milks{
				padding: 0 5%;
				margin: 0 auto;
				@media (max-width: $mobile){
					padding: 0;
				}
				.owl-stage-outer{
					overflow: initial;
					.owl-stage{
						margin-top: 100px;
						@media (max-width: $desktop_1024){
							margin-top: 120px;
						}
						.owl-item{
							opacity: 0;
							&.active{
								opacity: 1;
								transition: all 1s;
							}
							.item{
								margin: 5px;
								padding: 25px 20px;
								position: relative;
								border-radius: 15px;
								transition: all .25s;
								background-color: $blue1;
								box-shadow: 0 0 10px 0 $shadow;
								&.active{
									transform: scale(1.05);
									background-color: $gray8;
									@media (max-width: $mobile){
										transform: scale(1);
									}				
									.info{
										.btn-link{
											visibility: hidden;
										}
									}
								}
								.img{
									top: -95px;
									left: 0;
									right: 0;
									width: 45%;
									margin: 0 auto;
									position: relative;
								}
								.info{
									margin-top: -75px;
									text-align: center;
									h3{
										font-size: 1.5rem;
										color: $gray1;
										padding-bottom: 10px;
										@media (max-width: $desktop_1640){
											font-size: 1.2rem;
										}
									}
									table{
										margin: 15px 0;
										tbody{
											tr{
												background-color: transparent;
												border-bottom: 1px solid $gray6;
												&:last-child{
													border-bottom: none;
												}
												th, td{
													border: none;
													vertical-align: middle;
													background-color: transparent;

													color: $gray1;
													font-weight: 400;
													font-style: normal;
													font-family: $Poppins;
													@media (max-width: $mobile){
														text-align: center;
													}
												}
												td{
													text-align: right;
													@media (max-width: $mobile){
														text-align: center;
													}
												}
											}
										}
										&.t-featured{
											td{
												font-weight: 700;
												font-style: normal;
												font-family: $Poppins;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
