/*Colors*/
$black: #000000;
$blue1: #f8f9fd;
$blue2: #3a9fe3;
$brown1: #5b3f1f;
$gray1: #636463;
$gray2: #848484;
$gray3: #707070;
$gray4: #bcbcbc;
$gray5: #dedede;
$gray6: #d9d9d9;
$gray7: #eaeaea;
$gray8: #f2f2f2;
$gray9: #fbfbfb;
$gray10: #f6f6f6;
$green1: #3bc37b;
$green2: #068b4e;
$green3: #449742;
$orange1: #f3973e;
$purple1: #892b7d;
//$red1: #cb262a;
$red1: #ed1b2e;
$red2: #ad0c10;
$white: #ffffff;
$yellow1: #f8c346;
$yellow2: #fbd690;

$facebook: #3b5998;
$gmail: #ff2a2a;
$linkedin: #0e76a8;
$links: #cb262a;
$pinterest: #c8232c;
$printer: #3bc37b;
$twitter: #00acee;
$whatsapp: #00bb2d;

$html: #f2f2f2;
$shadow: rgba(0,0,0,.15);

/*Font-Family*/
$Poppins: 'Poppins', sans-serif;

/*Font-Icons*/
$fontelloIcons: 'fontelloIcons';

/*Resolutions*/
$desktop_1920: 1920px !default;
$desktop_1640: 1640px !default;
$desktop_1440: 1440px !default;
$desktop_1366: 1366px !default;
$desktop_1280: 1280px !default;
$desktop_1024: 1024px !default;
$tablet: 768px !default;
$mobile: 540px !default;
