<article>
  <a href="{{fields.view_node.content}}" data-seo="btn-header">
    <div class="img">
      <picture>
        {{fields.field_imagen_de_fondo_mobile.content}}
      </picture>
    </div>
    <div class="text">
      <span class="textHeight">{{fields.title.content}}</span>
    </div>
  </a>
</article>