{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <div class="item">
    <div class="img">
      {{fields.field_foto_principal.content}}
    </div>
    <div class="text">
      <span class="category">
        {{fields.field_momentos.content}}
      </span>
      <div class="title">
        <h2 class="titleHeight">{{fields.title.content}}</h2>
      </div>
      <div class="btn">
        <a href="{{fields.view_node.content}}" class="btn-border" data-seo="btn-content">Leer más</a>
      </div>
    </div>
  </div>
  