<section class="slider-register register">
  	<div class="containerGrid">
    	<div class="content">
      		<div class="c-slider-register">
        		<div class="s-slider-register dots-prog-home owl-carousel owl-theme">
          			{{content.field_slides_registro}}	
        		</div>
      		</div>
    	</div>
  	</div>
</section>
