{{ attach_library('alqueria/sharethis') }}
<section class="social-network">
	<div class="containerGridp">
		<div class="content">
			<div class="c-social-network">
				<ul class="no-dics">
					<li>
						<div class="social-icon facebook" data-network="facebook">
							<i class="demo-icon icon-icon-facebook">&#xe800;</i>
							<span>Compartir</span>
						</div>
					</li>
					<li>
						<div class="social-icon twitter" data-network="twitter">
							<i class="demo-icon icon-icon-twitter">&#xe801;</i>
							<span>Compartir</span>
						</div>
					</li>
					<li>
						<div class="social-icon linkedin" data-network="linkedin">
							<i class="demo-icon icon-icon-linkedin">&#xe808;</i>
							<span>Compartir</span>
						</div>
					</li>
					<li>
						<div class="social-icon pinterest" data-network="pinterest">
							<i class="demo-icon icon-icon-pinterest">&#xe808;</i>
							<span>Guardar</span>
						</div>
					</li>
					<li>
						<div class="social-icon whatsapp">
							<i class="demo-icon icon-icon-phone1">&#xe806;</i>
							<span>Compartir</span>
						</div>
					</li>
					<li>
						<div class="social-icon printer" data-network="print">
							<i class="demo-icon icon-printer">&#xe830;</i>
							<span>Imprimir</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
