<section class="banner-recipe-form">
	<div class="containerr">
		<div class="content">
			<div class="c-banner-recipe-form">
				<div class="img">
					{{content.field_imagen_de_fondo_desktop}}
				</div>
				<div class="text">
					<h1>{{content.field_titulo_a_mostrar}}</h1>
				</div>
				<div class="layer"></div>
			</div>
			<div class="c-recipe-text">
				{{content.body}}
			</div>
		</div>
	</div>
</section>