<section class="slider-home1">
	<div class="containerr padding0">
		<div class="content">
			<div class="c-slider-home1">
				<div class="s-slider-home1 dots-prog-home owl-carousel owl-theme">
					{{content.field_slides}}					
				</div>
			</div>
		</div>
	</div>
</section>