<section class="banner-full-img1">  
	<div class="containerr">
		<div class="content">
			<div class="c-banner-full-img1">
		        <a href="{{content['#block_content'].field_enlace.0.url}}" target="{{content['#block_content'].field_enlace.0.url.external ? '_blank' : '_self'}}" data-seo="btn-content">
		          	<picture>
		            	<source media="(max-width: 768px)" srcset="{{content.field_imagen_de_fondo_mobile}}">
		            	{{content.field_imagen_de_fondo_desktop}}
		          	</picture>		        
		        </a>
		  	</div>			
		</div>
	</div>
</section>