<section{{ attributes.addClass(classes) }}>  	
	<div class="containerr">
		<div class="content">
			<div class="c-header">
				<h1>{{get_config_data('config.settings','titulo_nutricion_destacados')}}</h1>
			</div>
			<div class="c-slider-prehome">
				<div class="s-slider-prehome dots-prog-prehome owl-carousel owl-theme">					
					{{rows}}
				</div>
			</div>
		</div>
	</div>
</section>