<section class="error-404">
  <div class="containerGridp">
    <div class="content">
      <div class="c-error-404">
        <div class="layers">
          <div class="layer-left">
            <picture>
              <img data-src="/{{directory}}/assets/img/404/layer-left.png" id="layer-left" alt="Layer" title="Layer" class="lazyload">
            </picture>
          </div>
          <div class="layer-middle">
            <h1>404</h1>
          </div>
          <div class="layer-right">
            <picture>
              <img data-src="/{{directory}}/assets/img/404/layer-right.png" id="layer-right" alt="Layer" title="Layer" class="lazyload">
            </picture>
          </div>
        </div>
        <div class="text">
          <span>¡Lo sentimos!</span>
          <p>La página que busca se encuentra<br /> dañada o no existe.</p>
          <a href="/" class="btn-default back-green" data-seo="btn-content">Ir al inicio</a>
        </div>
      </div>
    </div>
  </div>
</section>
